/* @theme academic */

@charset "UTF-8";

@import 'gaia';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap");
@import '~highlight.js/styles/sunburst';
svg[data-marp-fitting='svg'] {
  max-height: 580px; }

:root {
  --color-background: #ede8d2;
  --color-foreground: #333;
  --color-highlight: #01461c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-weight: inherit; }

h1 {
  font-feature-settings: "palt";
  font-size: 2rem;
  line-height: calc(0.25rem * 12); }
  /* font-size: 1.8em; } */

h2 {
  font-feature-settings: "palt";
  font-size: 1.75rem;
  line-height: calc(0.25rem * 11); }
  /* font-size: 1.5em; } */

h3 {
  font-feature-settings: "palt";
  font-size: 1.5rem;
  line-height: calc(0.25rem * 9); }
  /* font-size: 1.3em; } */

h4 {
  font-feature-settings: "palt";
  font-size: 1.3125rem;
  line-height: calc(0.25rem * 8); }
  /* font-size: 1.1em; } */

h5 {
  font-feature-settings: "palt";
  font-size: 1.125rem;
  line-height: calc(0.25rem * 7); }
  /* font-size: 1em; } */

h6 {
  font-feature-settings: "palt";
  font-size: 0.875rem;
  line-height: calc(0.25rem * 5); }
  /* font-size: 0.9em; } */

p,
blockquote {
  font-size: 1rem;
  line-height: calc(0.25rem * 6); }
  /* margin: 1em 0 0 0; } */


/* 段落間のバーティカルリズム */
* + h2 {
  margin-top: calc(0.25rem * 6); }

* + h3 {
  margin-top: calc(0.25rem * 5); }

* + h4 {
  margin-top: calc(0.25rem * 4); }

* + h5 {
  margin-top: calc(0.25rem * 3); }

* + h6 {
  margin-top: calc(0.25rem * 2); }

* + p {
margin-top: calc(0.25rem * 1); }


ul > li,
ol > li {
  margin: 0.3em 0 0 0; }
  ul > li > p,
  ol > li > p {
    margin: 0.6em 0 0 0; }

pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible; }
  pre code {
    box-sizing: border-box;
    margin: 0;
    min-width: 100%;
    padding: 0.5em;
    /* font-size: 0.7em; } */
    font-size: 1.0em; }
    pre code svg[data-marp-fitting='svg'] {
      max-height: calc(580px - 1em); }

section {
  background-image: none;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 90px;
  padding-left: 40px;
  padding-right: 40px;
}

/* https://github.com/marp-team/marpit/issues/271 */
section::after {
  font-weight: 700;
  content: attr(data-marpit-pagination) '/' attr(data-marpit-pagination-total);
}

ul ul {
  font-size: 0.9em;
}

section.lead h1 {
  color: #01461c;
  text-align: left;
}
section.lead h1 strong {
  -webkit-text-stroke: 1px #01461c;
}
section.lead h2 {
  color: #01461c;
  text-align: left;
}
section.lead h2 strong {
  -webkit-text-stroke: 1px #01461c;
}
section.lead h3 {
  color: #01461c;
  text-align: left;
}
section.lead h3 strong {
  -webkit-text-stroke: 1px #01461c;
}
section.lead h4 {
  color: #01461c;
  text-align: left;
}
section.lead h4 strong {
  -webkit-text-stroke: 1px #01461c;
}
section.lead h5 {
  color: #01461c;
  text-align: left;
}
section.lead h5 strong {
  -webkit-text-stroke: 1px #01461c;
}
section.lead p {
  text-align: right;
}
section.inside-title {
  background-color: #b0dbc0;
}
section.FYR {
  background-color: #b0dbc0;
}
section.FYR code {
  background: #d1e1d8;
  color: #18741b;
}
section blockquote,
section blockquote::before,
section blockquote::after {
  background: #DF656120;
  color: #001709; }

header {
  background-color: #b0dbc0;
  color: #01461c;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}

blockquote::before {
  content: " ";
}
blockquote::after {
  content: " ";
}

img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

code {
  display: inline-block;
  font-family: 'Source Code Pro', monospace;
  font-size: 0.8em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline; }

section {
  font-size: 20px;
}
section strong {
  color: LightCoral;
}
section cite {
  font-size: 90%;
  line-height: calc(0.25rem * 4);
  float: right;
  color: #01461c;
}
section footnote {
  font-size: 80%;
  color: #01461c;
}
.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
}